include ../layout.pug
div(class='container batya')
	div(class='ramka new1')
		a(href='/admin/lesson-form',class='new ') Create new lesson
	div(class='ramka new2')
		a(href='/admin/task-form',class='new ') Create new task