include ../layout.pug
form(action='/admin/lesson-form', method ='POST') 
	input(type='text', placeholder='Lesson name', name=lesson_name,maxlength=20)
	input(type='text', placeholder='Text area',name = lesson_description ,maxlength=200)
	button(type='submit') Submit
