include ../layout.pug
div(class='container batya')
	div(class='ramka new1')
		a(href='/lesson-form',class='new ') Create new lesson
	div(class='ramka new2')
		a(href='/lesson-form',class='new ') Create new lesson