<<<<<<< HEAD
include ../layout.pug
div(class='container admins')
	each val in tasks
		div(class='added')
			a(href='/lessons?lesson_id='+val._id)= 'Task - ' + val.name
=======
div(class='container admins')
    each val in tasks
        div(class='added')
<<<<<<< HEAD
            a(href='/lessons/lesson_id='+val._id)= 'Task - ' + val.name
=======
            a(href='/lessons?lesson_id='+val._id)= 'Task - ' + val.name
>>>>>>> 7565c9a50716fefc42c09f35d74875d53a5ac30b
>>>>>>> bac554329b782f0a370304a0e0cd10d854ef225f
