@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: black;
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
.navbar {
  background-color: black;
}
form{
  margin-top:30px;
}
input {
  background-color: #333;
  border:1px solid yellow;
  border-radius: 3px;
  color: white;
}
.name_add {
width: 220px;
height: 40px;
margin-bottom: 30px;
}
.text_add {
  background-color: #333;
  border:1px solid yellow;
  color: white;
}
.submited {
  background-color: yellow;
  font-size: 20px;
  color: black;
  border: 1px solid yellow;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 300px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.added a {
  margin: 30px 0;
  text-decoration: none;
  font-size: 22px;
  color: #333;
  &:hover {
    color: yellow;
  };
}
.ramka {
  margin-top: 100px;
  background-color: yellow;
  width: 200px;
  line-height: 50px;
  text-align: center;
}
.new {
  text-decoration: none;
  font-size: 22px;
  color: #333;
  &:hover {
    color: #4da5f4;
    text-decoration: none;
  };
}
.new1 {
  float: left;
  display: inline-block;
  margin-left: 200px;
}
.new2 {
  float: right;
  display: inline-block;
  margin-right: 200px;
}
